
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>Welcome</span>
    <div class="spacer"></div>

</div>

<div class="content" role="main">


  <div class=" col">
    <hr>

    <h3>Login</h3>

    <form [formGroup]="loginForm" #f="ngForm" (submit)="login()">
      <div class="form-group">
        <label for="exampleInputEmail1" >Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" id="email" formControlName="email">
        <small class="text-danger "
      *ngIf="loginForm.get('email') && !loginForm.get('email')!.valid && loginForm.get('email')!.touched">email is
      required!</small>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" id="password" formControlName="password">

        <small class="text-danger "
        *ngIf="loginForm.get('password') && !loginForm.get('password')!.valid && loginForm.get('password')!.touched">password is
        required!</small>
      </div>
      <hr>
      <br>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a routerLink="registerpage">Create New User?</a>

  </div>

  <!-- Next Steps -->




  <div class="spacer"></div>


  <!-- Footer -->
  <footer>
      Love Angular?&nbsp;
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
  </footer>



</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div #myNameElem class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
<router-outlet></router-outlet>

